@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

body {
    background-color: #e9e9e9;
    margin: 0;
    position: relative;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

ul,
li {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    color: #333;
}

a {
    color: #FFB600;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #3397db;
    text-decoration: none;
}

a img {
    border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#footer {
    background-color: #001D27;
    color: #aaa;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

/* ====================== Navigation ====================== */

nav {
    width: 100%;
    background-color: #252831;
    text-align: center;
}

nav h1 {
    margin: auto;
    padding: 25px 20px;
}

nav h1 a {
    color: #fff;
    font-size: 27px;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 10px 3px 10px 10px;
    border: 4px solid white;
    transition: 0.7s;
}

nav h1 a:hover{
    border: 4px solid #307abb;
    background: #e9e9e9;
    color: #1e5a75;
    transition: 0.7s;
    font-weight: bolder;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #dcdcdc;
    font-size: 17px;
    margin: 0;
}

/* Display list items side by side */

#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */

#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */

#breadcrumb li a {
    color: #023f75;
    text-decoration: none;
}

/* Add a color on mouse-over */

#breadcrumb li a:hover {
    color: #6b2307;
    text-decoration: underline;
}

nav ol {
    text-align: left;
}

#breadcrumb li:last-of-type a {
    color: #666;
    text-decoration-line: none;
}

/* ====================== Map ====================== */

#map {
    height: 400px;
    width: 100%;
    background-color: #ccc;
}

.leaflet-container a {
    color: #004e6d !important;
}

/* ====================== Restaurant Filtering ====================== */

.filter-options {
    width: 100%;
    background-color: #0078a8;
    align-items: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 0 10px 0 !important;
    display: block;
    padding: 20px 0 0 0;
    text-align: center;
}

.filter-options select {
    background-color: white;
    border: 1px solid #fff;
    font-family: 'Lato', sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px;
    padding: 0 10px;
    width: 200px;
}

.filter-options select option {
    background-color: #f3f3f3;
}

.filter-selects {
    display: inline-block;
}

.filter-drop-down-labels {
    display: none;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
    background-color: #f3f3f3;
    list-style: outside none none;
    margin: 0;
    padding: 30px 15px 60px;
    text-align: center;
    /* Add flex box properties */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#restaurants-list li {
    background-color: #fff;
    /* border: 2px solid #ccc; */
    font-family: 'Lato', sans-serif;
    margin: 15px;
    min-height: 380px;
    padding: 10px 30px 25px;
    text-align: center;
    min-width: 270px;
    max-width: 310px;
    box-shadow: 9px 8px 20px 0px #ccc;
}

#restaurants-list .restaurant-img {
    background-color: #ccc;
    display: block;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
}

#restaurants-list li h2 {
    color: #005a7d;
    font-family: 'Lato', sans-serif;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.3;
    margin: 20px 0 10px;
    text-transform: uppercase;
}

#restaurants-list p {
    margin: 0;
    font-size: 11pt;
}

#restaurants-list li button {
    background-color: #FFB600;
    border-bottom: 3px solid #eee !important;
    border-style: unset; /* Get rid of traditional button CSS */
    color: #00345a;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 0;
    padding: 8px 30px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

#restaurants-list li button:hover,
#restaurants-list li button:focus {
    /* text-decoration: underline; */
    box-shadow: 5px 5px 11px 0px #ccc;
    border-bottom: 3px solid #0078a8 !important;
    transition: 0.5s;
}

#restaurants-list li button a {
    color: #fff;
}

.filter-selects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-label {
    display: none;
}

/* ====================== Restaurant Details ====================== */

/* .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} */

.inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 200px;
    /* position: fixed;
    right: 0;
    top: 80px;
    width: 50%; */
}

.inside #map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
}

/* .inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
} */

#restaurant-name {
    color: #005a7d;
    font-family: 'Lato', sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

h3 {
    color: #a85900;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 10px;
    text-transform: uppercase;
}

#restaurant-img {
    width: 100%;
}

#restaurant-address {
    font-size: 12pt;
    /* margin: 10px 0px; */
    font-weight: 700;
}

#restaurant-address-and-hours {
    padding: 15px 20px;
}

.restaurant-info-label {
    display: none;
}

.restaurant-image-label {
    display: none;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
}

#reviews-container {
    padding: 30px 20px 80px;
}

#reviews-container h3 {
    color: #005a7d;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 40px;
    overflow: hidden;
    padding: 20px 40px 40px;
    position: relative;
    width: 70%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

.restaurant-hours-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

#restaurant-hours {
    width: 100%;
    max-width: 500px;
}

#restaurant-hours tr td:first-of-type {
    width: 40%;
}

#restaurant-hours tr td:last-of-type {
    width: 60%;
}

#restaurant-hours td {
    color: #666;
}

.restaurant-review-user {
    font-weight: 700;
}

.map-aria-description {
    display: none;
}

/* ====================== Media Queries ====================== */

@media only screen and (min-width: 0px) {
    #restaurants-list li {
        padding: 10px;
        max-width: 100%;
    }

    nav h1 a {
        border: none;
        font-size: 20px;
        word-wrap: normal;
    }

    nav h1 a:hover{
        border: none;
        text-decoration: underline;
        background: unset;
        color: #fff;
        font-weight: normal;
    }
}
@media only screen and (min-width: 600px) {
    #restaurants-list li {
        max-width: 45%;
    }

    nav h1 a {
        border: 4px solid white;
        font-size: 27px;
        word-wrap: unset;
    }

    nav h1 a:hover{
        border: 4px solid #307abb;
        background: #e9e9e9;
        color: #1e5a75;
        text-decoration: none;
        font-weight: bolder;
    }
}
@media only screen and (min-width: 850px) {
    #restaurants-list li {
        max-width: 310px;
    }
}

/* ====================== Favorite Button ====================== */
/* Styling when button is not toggled */
button.fav {
    padding: 10px !important;
    margin: 0px 0px -40px 120px !important;
    position: relative;
    float: right;
    background-color: #ffffff !important;
    color: #005a7d !important;
    width: 50px;
    /* other stylings copied from #restaurant-list li button so it carries over to the restaurant info page */
    border-bottom: 3px solid #eee !important;
    border-style: unset;
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}

/* Styling when button is toggled */
button.fav[aria-pressed=true]{
    color: #001e27 !important;
    background-color: #ffb600 !important;
}

/* Styling for hovered & focused button */
button.fav:hover,
button.fav:focus {
    color: #005a7d !important;
    box-shadow: -5px 5px 11px 0px #ccc !important;
    border-bottom: 3px solid #005a7d !important;
}

/* ====================== Review Form ====================== */
#review-form {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 40px;
    overflow: hidden;
    padding: 20px 40px 40px;
    position: relative;
    width: 70%;
}

input#name {
    width: 50%;
    font-family: 'Lato', sans-serif;
    border-bottom: 2px solid #005a7d !important;
    border: 0px;
    font-size: 16px;
}

select#rating {
    margin-left: 5px;
    font-family: 'Lato', sans-serif;

}

textarea#comments {
    width: 100%;
    font-family: 'Lato', sans-serif;
    border: 2px solid #005a7d !important;
    font-size: 16px;
}

#review-form p:last-of-type {
    text-align: center;
}

button.add-review {
    width: 60px;
    /* border-bottom: 3px solid #eee !important; */
    background-color: #005a7d;
    padding: 10px 0px;
    color: white;
    border-radius: 5px;
    border-style: unset;
    font-size: 15pt;
    transition: 0.5s;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}